.bouquets {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEE5E6;
    font-family: 'Linden Hill';

    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5vh;
        background-color: #EEE5E6;


        .title {
            padding-top: 10px;
            font-size: 2.2em;
            height: 5vh;
            width: 100%;
            text-align: center;
            color: black;
        }

        .image {
            height: 300px;
            width: 300px;
            margin: 0 auto;
        }

        img {
            height: auto;
            width: auto;
            box-shadow: 16px 13px 15px -14px rgba(59, 59, 59, 1);
        }

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }

        .descr {
            padding-top: 10px;
            font-size: 1.2em;
            height: 5vh;
            width: 100%;
            text-align: center;
        }
    }


    .title {
        height: 5vh;
        width: 50vw;

        p {
            margin-top: 0.5vh;
            text-align: center;
            font-size: 1.5em;
            color: white;
        }
    }

    button {
        background-color: rgba(174, 180, 174, 0.548);
        border: none;
        color: rgb(39, 39, 39);
        padding: 15px 32px;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1em;
        box-shadow: 16px 13px 10px -14px rgba(59, 59, 59, 1);

        &:hover {
            background-color: rgba(174, 180, 174, 0.808);
        }
    }
}

@media (min-width: 768px) {
    .bouquets {
        flex-direction: row;
        flex-wrap: wrap;

        .container {
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 5vh;
        }
    }
}

@media (min-width: 992px) {
    .bouquets {
        .container {

            button {
                font-size: 1.5em;
            }
        }
    }
}

// 1080p devices (1920px and up)
@media (min-width: 1920px) {
    .bouquets {
        height: auto;
        width: 100%;

        .container {
            width: 20vw;

            .title {
                font-size: 3em;
            }

            button {
                font-size: 2em;
            }
        }
    }
}

// 4k devices (2560px and up)
@media (min-width: 2560px) {
    .bouquets {
        .container {
            .title {
                font-size: 4em;
            }

            button {
                font-size: 3em;
            }
        }
    }
}