.intro {
    height: 100vh;
    width: 100%;
    font-family: 'Linden Hill';
    background-image: url(../img/bride.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.intro-extra {
    height: 65vh;
    width: 70vw;
    margin-top: 10%;
    border-radius: 20px;

    p {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 4vh;
        background-color: rgba(172, 111, 75, 0.39);
        border-radius: 5px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .intro-extra {
        height: 55vh;
        width: 60vw;
        height: 55vh;

        p {
            font-size: 2.4em;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .intro {
        background-position: left;

        .intro-extra {
            height: 40vh;
            width: 40vw;
            margin-left: 50vw;
        }

        p {
            font-size: 2.6em;
        }
    }
}

// 720p devices (1280px and up)
@media (min-width: 1280px) {
    .intro {
        background-position: top;

        .intro-extra {
            height: 40vh;
            width: 40vw;
            margin-top: 3%;
        }
    }
}

// 1080p devices (1920px and up)
@media (min-width: 1920px) {
    .intro {
        p {
            font-size: 3.1em;
        }
    }
}

// 4k devices (2560px and up)
@media (min-width: 2560px) {
    .intro {
        p {
            font-size: 4.3em;
        }
    }
}