.intro {
    height: 95vh;
    width: 100%;
    background-image: url(../img/bride.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.intro-extra {
    height: 65vh;
    width: 70vw;
    background-color: rgba(172, 111, 75, 0.39);
    margin-top: 15%;
    padding-top: 10%;
    border-radius: 20px;

    p {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 2em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .intro-extra {
        height: 55vh;
        width: 60vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        height: 55vh;

        p {
            font-size: 2.4em;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .intro {
        background-position: center;
    }

    .intro-extra {
        margin-top: 10vh;
        height: 60vh;
        width: 40vw;
        margin-left: 50vw;
        padding-top: 3vh;
        padding-bottom: 6vh;
    }

    p {
        font-size: 1.5em;
    }
}

// 1080p devices (1920px and up)
@media (min-width: 1920px) {
    .intro {
        .intro-extra {
            padding-top: 3vh;
            padding-bottom: 10vh;
        }

        p {
            font-size: 3.1em;
        }
    }
}

// 4k devices (2560px and up)
@media (min-width: 2560px) {
    .intro {

        p {
            font-size: 4.5em;
        }
    }
}