@import "nav";
@import "intro";
@import "bouquets";
@import "contact";


body {
    padding: 0px;
    margin: 0px;
    background-color: rgba(128, 66, 30, 0.774);
}

.container {
    display: flex;
    justify-content: center;
}